<footer class="block relative py-4 my-6 text-primary-text md-2:px-12">
  <div class="lg:flex lg:flex-row lg:px-12 md:mx-12 text-center p-6 my-6 items-center justify-between">
    <p class="w-full">Contacto: <span class="font-bold">+34 666 55 44 33</span> // <span class="font-bold">ecoret@gmail.com</span></p>
  </div>
  <div class="flex min-[840px]:flex-row flex-col gap-4 lg:px-12 md:mx-12 p-6 items-center justify-between border-t-[1px] border-primary">
    <div class="justify-center lg:block mb-0 mr-2 flex-[1_0_0px]">
      <img src="./assets/images/logo-eco.png" class="h-[30px] max-w-none">
    </div>
    <ul class="flex min-[840px]:flex-row flex-col md:flex-none flex-nowrap gap-4 justify-center items-center md:mb-0 md:w-auto">
      <li class="whitespace-nowrap list-item">
        <a href="index.html" class="footer-link">Portada</a>
      </li>
      <li class="whitespace-nowrap list-item">
        <a href="people.html" class="footer-link">Ponentes</a>
      </li>
      <li class="whitespace-nowrap list-item">
        <a href="index.html" class="footer-link">Sobre nosotros</a>
      </li>
      <li class="whitespace-nowrap list-item">
        <a href="ia-page.html" class="footer-link">Inscríbete</a>
      </li>
    </ul>
    <ul class="flex flex-nowrap flex-[1_0_0px] min-[840px]:justify-end justify-center pl-0 mb-0 list-none">
      <li class="list-item">
        <a href="#" class="footer-link"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li class="list-item">
        <a href="#" class="footer-link"><i class="fa-brands fa-facebook"></i></a>
      </li>
    </ul>
  </div>
</footer>
